<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dota2英雄介绍.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E0D3EBC1CA273F400236BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E0D3ED51CA273F400236BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E0D3EE01CA273F400236BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
